.capsule{
    display: flex;
    justify-content:;
    justify-content: center;
    align-items: center;
}
p{
    width: 250px;
    padding: 0.8em;
    background-color: ghostwhite;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
.btn{
    padding: 1em;
    background-color: brown;
    border: none;
}