*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: content-box;
}

#nav-style{
    background-color: #24252A;
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 550px) {
    #nav-style{
        height: auto;
        flex-direction: column;
    }
}